<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include google-adsense.html %}
    {% include google-analytics.html %}
  </head>
  <body>
    <header class="page-header" role="banner"></header>

    <div class="menu-wrap">
      {% include menu-bar.html %}
    </div>
    <button class="menu-button" id="open-button">Open Menu</button>

    <main id="content" class="main-content" role="main">
      <aside class="page-toc">
        <div id="toc"></div>
      </aside>

      {{ content }}

      <footer class="site-footer"></footer>
    </main>

    <script src="{{ '/assets/js/app.js?v=' | append: site.github.build_revision | relative_url }}"></script>

  </body>
</html>
